node_modules
.env
coverage
coverage.json
typechain
typechain-types
.DS_Store

# Hardhat files
cache

# Controller config
controller.config.json

# this would leak private keys, so also has an example
launchGoogleComputeEngine.sh