{
  "network": "anvil",
  "allowList": [],
  "blockList": [],
  "main": {
    "network": "sepolia",
    "allowList": [],
    "blockList": []
  },
  "test": {
    "network": "anvil",
    "allowList": [],
    "blockList": []
  },
  "testMode": true
}
